:root {
    /* color */
    --durationBar: orangered;
}
@font-face {
    font-family: FontAwesome;
    src: url(/fonts/fontawesomeregular.otf);
}
@font-face {
    font-family: FontAwesomeSolid;
    src: url(/fonts/fontawesomesolid.otf);
}
.video {
    width: 100%;
}

.videoplayer {
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}
.videoplayer:hover .controls {
    transform: translateY(0);
}

.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.7);

    transform: translateY(100%) translateY(-5px);
    transition: all 0.2s;
}


.buttons {
    padding: 10px;
    display: flex;
    width: 100%;
}


.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #fff;
}

.buttons #mute {
    position: relative;
    top: 3px;
}
.buttons #mute::before {
    content: '\1f50a';
    font-family: FontAwesomeSolid;
    width: 30px;
    height: 30px;
}
.buttons #mute.mute::before {
    content: '\1f50a';
}
.buttons #mute.unmute::before {
    content: '\1f508';
}

.buttons #play-pause::before {
    font-family: FontAwesome;
    content: '\f144';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: #fff;
}
.buttons #play-pause.play::before {
    content: '\f144';
}
.buttons #play-pause.pause::before {
    content: '\f28b';
}


.buttons #fullScreen {
    margin-left: 70%;
    top: 6px;
}
.buttons #fullScreen::before {
    font-family: FontAwesomeSolid;
    content: '\f066';
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
}

.duration-bar {
    height: 10px;
    width: 100%;
    background: #000;
    cursor: pointer;
}

.duration-level {
    height: 10px;
    background-color: var(--durationBar);
}